<app-page-header
  [link]="'filieres'"
  [prev]="'Home'"
  [current]="'Majors'"
></app-page-header>
<form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchFilieres()">
<div class="student-group-form">
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Search.."
        />
      </div>
    </div>

    <div class="col-lg-2">
      <div class="search-student-btn">
        <button type="button" class="btn btn-primary">Search</button>
      </div>
    </div>
  </div>
</div>
</form>
<div class="row">
  <div class="col-sm-12">
    <div class="card card-table">
      <div class="card-body">
        <div class="page-header">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="page-title">Major (Filiere)</h3>
            </div>
            <div class="col-auto text-end float-end ms-auto download-grp">
              <a routerLink="/filieres/add" class="btn btn-primary"
                ><i class="fas fa-plus"></i
              ></a>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col">
              <span class="m-2">Display</span>
              <select class="form-select form-select-sm w-auto">
                <option selected="" value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
              <span class="m-2">Entries</span>
            </div>
          </div>
        </div>

        <table
          class="table border-0 star-student table-hover table-center mb-0 datatable table-striped"
        >
          <thead class="student-thread" >
            <tr>
              <th>ID</th>
              <th>Label</th>
              <th>Semestre</th>
              <th>Major Coordinator</th>
              <th>Department</th>

              <th class="text-end">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let filiere of filieres ">
              <td>{{ filiere.id}}</td>
              <td>{{ filiere.libelle}}</td>
              <td>{{ filiere.nombreSem}}</td>
              <td>{{ filiere.chefFiliere}}</td>
               <td>{{ filiere.departement}}</td>
               <td class="text-end">
                 <div class="actions">
                   <a
                     class="btn btn-sm bg-success-light me-2"
                     (click)="handleEditeFiliere(filiere)"
                   > <i class="fas fa-edit"></i>
                   </a>
                   <a
                     (click)="handleDeleteFiliere(filiere)"
                     class="btn btn-sm bg-danger-light"
                   >
                     <i class="fas fa-trash"></i>
                   </a>
                 </div>
               </td>
             </tr>
           </tbody>
         </table>
         <ul class="pagination justify-content-end mt-4">
           <li class="page-item " [ngClass]="{ disabled: currentPage === 0 }">
             <a class="page-link" tabindex="-1" (click)="goToPreviousSet()">Previous </a>
           </li>
           <li
             class="page-item"
             *ngFor="let page of displayedPages"
             [class.selected]="currentPage === page"
           >
             <a class="page-link" (click)="gotoPage(page)">{{ page + 1 }}</a>
           </li>
           <li
             class="page-item"
             [ngClass]="{ disabled: currentPage >= totalPages - 1 }"
           >
             <!-- Add the following code to disable the "Suivant" button when there are no more pages to show -->
            <button
              class="page-link"
              [disabled]="currentPage >= totalPages - 1"
              (click)="goToNextSet()"
            >
              Next
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
