<app-page-header
  [link]="'profs'"
  [prev]="'Home'"
  [current]="'Profs'"
></app-page-header>

<div class="student-group-form">
  <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchCustomers()">
    <!-- Search form -->
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="form-group">
          <input
            formControlName="keyword"
            type="text"
            class="form-control"
            placeholder="Search by name"
          />
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <input
            formControlName="keyword"
            type="text"
            class="form-control"
            placeholder="Search by speciality..."
          />
        </div>
      </div>
      <div class="col-lg-2">
        <div class="search-student-btn">
          <button type="btn" class="btn btn-primary">Search</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card card-table">
      <div class="card-body">
        <div class="page-header">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="page-title">Profesors</h3>
            </div>
            <div class="col-auto text-end float-end ms-auto download-grp">
              <a routerLink="/profs/add" class="btn btn-primary">
                <i class="fas fa-plus"></i>
              </a>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col">
              <span class="m-2">Display</span>
              <!-- when selected value change , handle that -->
              <select
                (change)="handleChangeSize($event)"
                class="form-select form-select-sm w-auto"
              >
                <option selected="" [ngValue]="option1">{{ option1 }}</option>
                <option [ngValue]="option2">{{ option2 }}</option>
                <option [ngValue]="option3">{{ option3 }}</option>
                <option [ngValue]="option4">{{ option4 }}</option>
              </select>

              <span class="m-2">Entries</span>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table
            class="table border-0 star-student table-hover table-center mb-0 datatable table-striped"
          >
            <thead class="student-thread">
              <tr>
                <th>CNE</th>
                <th>Fist Name</th>
                <th>Family Name</th>
                <th>Number</th>
                <th>Email</th>
                <th>Speciality</th>
                <th class="text-end">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let prof of profs">
                <td>{{ prof.cne }}</td>
                <td>{{ prof.prenom }}</td>
                <td>{{ prof.nom }}</td>
                <td>{{ prof.tel }}</td>
                <td>{{ prof.email }}</td>
                <td>{{ prof.specialite }}</td>
                <td class="text-end">
                  <div class="actions">
                    <button
                      (click)="handleEditeProf(prof)"
                      class="btn btn-sm bg-success-light me-2"
                    >
                      <i class="fas fa-edit"></i>
                    </button>
                    <button
                      (click)="handleDeleteProf(prof)"
                      class="btn btn-sm bg-danger-light"
                    >
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Pagination -->
        <ul class="pagination justify-content-end mt-4">
          <li class="page-item" [ngClass]="{ disabled: currentPage === 0 }">
            <a class="page-link" tabindex="-1" (click)="goToPreviousSet()"
              >Previous</a
            >
          </li>
          <li
            class="page-item"
            *ngFor="let page of displayedPages"
            [class.selected]="currentPage === page"
          >
            <a class="page-link" (click)="gotoPage(page)">{{ page + 1 }}</a>
          </li>
          <li
            class="page-item"
            [ngClass]="{ disabled: currentPage >= totalPages - 1 }"
          >
            <!-- Add the following code to disable the "Suivant" button when there are no more pages to show -->
            <button
              class="page-link"
              [disabled]="currentPage >= totalPages - 1"
              (click)="goToNextSet()"
            >
              Next
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
