<app-page-header
  [link]="'salles'"
  [prev]="'Home'"
  [current]="'Rooms'"
></app-page-header>

<div class="student-group-form">
  <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchSalles()">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="form-group local-forms angle-icon">
          <select class="form-control select" formControlName="keyword">
            <option value="">...</option>
            <option value="Simple">Simple</option>
            <option value="Tps">Tps</option>
            <option value="Amphi">Amphi</option>
            <option value="miniAmphi">miniAmphi</option>
          </select>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="search-student-btn">
          <button type="btn" class="btn btn-primary">Search</button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card card-table">
      <div class="card-body">
        <div class="page-header">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="page-title">Rooms</h3>
            </div>

            <div class="col-auto text-end float-end ms-auto download-grp">
              <a routerLink="/salles/add" class="btn btn-primary"
                ><i class="fas fa-plus"></i
              ></a>
            </div>
          </div>
        </div>

        <table
          class="table border-0 star-student table-hover table-center mb-0 datatable table-striped"
        >
          <thead class="student-thread" >
            <tr>
              <th>ID</th>
              <th>Bloc</th>
              <th>Number</th>
              <th>Capacity</th>
              <th>Type</th>

              <th class="text-end">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let salle of salles">
              <td>{{ salle.id }}</td>
              <td>{{ salle.bloc }}</td>
              <td>{{ salle.numSalle }}</td>
              <td>{{ salle.capacite }}</td>
              <td>{{ salle.typeSalle }}</td>
              <td class="text-end">
                <div class="actions">
                  <button
                    (click)="handleEditSalle(salle)"
                    class="btn btn-sm bg-success-light me-2"
                  >
                    <i class="fas fa-edit"></i>
                  </button>
                  <button
                    (click)="handleDeleteSalle(salle)"
                    class="btn btn-sm bg-danger-light"
                  >
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- Pagination -->
        <ul class="pagination justify-content-end mt-4">
          <li class="page-item" [ngClass]="{ disabled: currentPage === 0 }">
            <a class="page-link" tabindex="-1" (click)="goToPreviousSet()"
              >Previous</a
            >
          </li>
          <li
            class="page-item"
            *ngFor="let page of displayedPages"
            [class.selected]="currentPage === page"
          >
            <a class="page-link" (click)="goToPage(page)">{{ page + 1 }}</a>
          </li>
          <li
            class="page-item"
            [ngClass]="{ disabled: currentPage >= totalPages - 1 }"
          >
            <!-- Add the following code to disable the "Suivant" button when there are no more pages to show -->
            <button
              class="page-link"
              [disabled]="currentPage >= totalPages - 1"
              (click)="goToNextSet()"
            >
              Next
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
